.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-container {
  /* background-color: green; */
}

.group-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.group-item {
  box-sizing: border-box;
  padding: 2em;
  flex-basis: 49%;
  border: 1px solid black;
}